<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>UIApplicationSceneManifest</key>
        <dict>
            <key>UIApplicationSupportsMultipleScenes</key>
            <false/>
            <key>UISceneConfigurations</key>
            <dict>
                <key>UIWindowSceneSessionRoleApplication</key>
                <array>
                    <dict>
                        <key>UISceneConfigurationName</key>
                        <string>Default Configuration</string>
                        <key>UISceneDelegateClassName</key>
                        <string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
                    </dict>
                </array>
            </dict>
        </dict>
        <key>NSCameraUsageDescription</key>
        <string>VideoEditor needs camera access to record video for your projects.</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>VideoEditor needs access to your photo library to import photos and videos.</string>
        <key>NSPhotoLibraryAddUsageDescription</key>
        <string>VideoEditor saves exported videos to your photo library when you choose to.</string>
    </dict>
</plist>
